

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="border">
                    <h2 class="text-center">Personal Information</h2>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" placeholder="Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="mName" >Middle Name</label>
                        <input type="text" placeholder="Middle Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" placeholder="Email" class="form-control">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" placeholder="City" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="city">State</label>
                                <select name="state" class="form-control">
                                    <option value=""></option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact">contact</label>
                        <input type="text" placeholder="contact" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="address">Current Address</label>
                        <textarea type="text" placeholder="Current Address" class="form-control"></textarea>
                    </div>
                    <div class="text-right">
                        <button class="btn btn-danger">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
