.border{
    padding: 20px;
    margin: 30px 0;
    background-color: #fff;
    input.form-control {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #000;
    }
    select.form-control {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #000;
    }
}