

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 my-5">
                <button class="btn btn-outline-primary"
                [routerLink]="['/computer']">Go to Computer</button>

                <button class="btn btn-outline-primary"
                [routerLink]="['/laptop']">Go to Laptop</button>
                
                <button class="btn btn-outline-primary"
                [routerLink]="['/tab']">Go to Tab</button>

                <button class="btn btn-outline-primary"
                [routerLink]="['/mobile']">Go to Mobile</button>
            </div>
        </div>
    </div>
</section>