

<section>
    <div class="row">
        <div class="col-md-6 offset-md-3 my-5">
            <ng-container *ngIf="canEdit; else noProduct">
                <div class="form-group">
                    <label for="pName" class="text-white">Name</label>
                    <input type="text" #pName [value]="editCompObj.name"
                        [disabled]="!canEdit" id="pName" placeholder="User Name" class="form-control">
                </div>
                <div class="form-group">
                    <label for="pName" class="text-white">status</label>
                    <select name="" #status [value]="editCompObj.status" [disabled]="!canEdit" class="form-control">
                        <option value="Available">Available</option>
                        <option value="OutOfStock">Out Of Stock</option>
                    </select>
                </div>
                <div class="text-right">
                    <button class="btn btn-info" [disabled]="!canEdit" (click)="onUpdateProduct(pName ,status)">Update Product</button>
                </div>
            </ng-container>
            <ng-template #noProduct>
                <p class="alert alert-danger font-weight-bold font-italic">
                    This Product Is Not Available
                </p>
            </ng-template>
        </div>
    </div>
</section>